---
import BaseStat from '@layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="About">
  <div class="mx-auto max-w-screen-lg px-4 py-12 sm:px-6 sm:py-12 lg:px-8">
    <Page title="About US">
      <div class="container mx-auto my-12">
        <p>
          Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus. Habitasse
          platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non blandit massa. Cursus vitae congue
          mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna porttitor rhoncus dolor. Elit ullamcorper
          dignissim cras tincidunt lobortis. In cursus turpis massa tincidunt dui ut ornare lectus. Integer feugiat
          scelerisque varius morbi enim nunc. Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui
          vivamus arcu felis bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra
          pharetra massa massa ultricies mi.
        </p>
      </div>
    </Page>
  </div>
</BaseStat>
