---
import BaseStat from '@layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="About">
  <div class="mx-auto mt-32 max-w-screen-lg px-4 py-12 sm:px-6 sm:py-12 lg:px-8">
    <Page title="О нас">
      <div class="container mx-auto my-12">
        <p>Привет! Меня зовут Алексей.</p>
        <p>
          Я и моя команда занимаемся промышленным альпинизмом уже более 15 лет. Мы любим свою работу и выполняем ее с
          душей.
        </p>
        <p>
          Мы предоставляем услугу промышленный альпинизм по цене лучшей в регионе. Чтобы воспользоваться выгодным
          предложением, оставьте заявку на сайте нашей компании или позвоните по указанному контактному телефону в
          Ульяновске. У нас есть все технические возможности и кадровый ресурс, чтобы максимально эффективно решить
          поставленную Вами задачу.
        </p>
      </div>
    </Page>
  </div>
</BaseStat>
