---
import BaseStat from '@layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="Ваш отзыв отправлен">
  <div class="mx-auto max-w-screen-lg px-4 py-12 text-center sm:px-6 lg:px-8 lg:py-64">
    <Page title="Ваш отзыв отправлен">
      <div class="container mx-auto my-12">
        <h2>Спасибо за вашу оценку!</h2>
        <p>В ближайшее время сообщение будет обработано</p>
      </div>
    </Page>
  </div>
</BaseStat>
