---
import BaseStat from '../layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="Политика конфиденциальности">
  <div class="mx-auto max-w-screen-lg px-4 py-12 text-center sm:px-6 lg:px-8 lg:py-64">
    <Page title="Политика конфиденциальности">
      <div class="container mx-auto my-12">
        <h2>Политика конфиденциальности</h2>
        <p>
          Оставляя данные на сайте (имя, телефон и/или адрес электронной почты), Вы соглашаетесь с Политикой
          конфиденциальности и защиты информации.
        </p>
        <h2>Защита данных</h2>
        <p>
          Администрация сайта https://uslugialpinista.ru (далее Сайт) не может передать или раскрыть информацию,
          предоставленную пользователем (далее Пользователь) при регистрации и использовании функций сайта третьим
          лицам, кроме случаев, описанных законодательством страны, на территории которой пользователь ведёт свою
          деятельность.
        </p>
        <h2>Получение персональной информации</h2>
        <p>
          Для коммуникации на сайте пользователь обязан внести некоторую персональную информацию. Для проверки
          предоставленных данных, сайт оставляет за собой право потребовать доказательства идентичности в онлайн или
          офлайн режимах.
        </p>
        <h2>Использование персональной информации</h2>
        <p>
          Сайт использует личную информацию Пользователя для обслуживания и для улучшения качества предоставляемых
          услуг. Часть персональной информации может быть предоставлена банку или платежной системе, в случае, если
          предоставление этой информации обусловлено процедурой перевода средств платежной системе, услугами которой
          Пользователь желает воспользоваться. Сайт прилагает все усилия для сбережения в сохранности личных данных
          Пользователя. Личная информация может быть раскрыта в случаях, описанных законодательством, либо когда
          администрация сочтет подобные действия необходимыми для соблюдения юридической процедуры, судебного
          распоряжения или легального процесса необходимого для работы Пользователя с Сайтом. В других случаях, ни при
          каких условиях, информация, которую Пользователь передает Сайту, не будет раскрыта третьим лицам.
        </p>
        <h2>Коммуникация</h2>
        <p>
          После того, как Пользователь оставил данные, он получает сообщение, подтверждающее его успешную регистрацию.
          Пользователь имеет право в любой момент прекратить получение информационных бюллетеней воспользовавшись
          соответствующим сервисом в Сайте.
        </p>
        <h2>Куки (Cookie)</h2>
        <p>
          Когда Вы посещаете сайт, на Ваш компьютер отправляются один или несколько файлов cookie. Это небольшой файл, в
          котором содержатся наборы символов и который позволяет идентифицировать браузер.
        </p>
        <p>
          Когда Вы регистрируетесь на сайте, на Ваш компьютер могут отправляться дополнительные файлы cookie,
          позволяющие избежать повторного ввода имени пользователя (и, возможно, пароля) при следующем визите. Вы можете
          стереть их по окончании сеанса, если используете общедоступный компьютер и не желаете открывать свой псевдоним
          последующим пользователям компьютера (в таком случае вам также нужно очистить кэш браузера).
        </p>
        <p>
          Когда Вы регистрируетесь на сайте, на Ваш компьютер могут отправляться дополнительные файлы cookie,
          позволяющие избежать повторного ввода имени пользователя (и, возможно, пароля) при следующем визите. Вы можете
          стереть их по окончании сеанса, если используете общедоступный компьютер и не желаете открывать свой псевдоним
          последующим пользователям компьютера (в таком случае вам также нужно очистить кэш браузера).
        </p>
        <p>
          Мы используем файлы cookie, чтобы повысить качество своих услуг путем сохранения пользовательских настроек и
          отслеживания тенденций в действиях пользователей, например, при выполнении поиска. Большинство браузеров
          изначально настроены так, чтобы принимать файлы cookie, однако Вы можете полностью запретить использование
          файлов cookie или настроить показ уведомлений об их отправке. Однако без файлов cookie некоторые функции сайта
          могут работать неправильно.
        </p>
        <h2>Протоколирование</h2>
        <p>
          При каждом посещении сайта наши серверы автоматически записывают информацию, которую Ваш браузер передает при
          посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера,
          тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie,
          которые позволяют точно идентифицировать Ваш браузер.
        </p>
        <h2>Ссылки</h2>
        <p>
          На сайте могут содержаться ссылки на другие сайты. Сайт не несет ответственности за содержание, качество и
          политику безопасности этих сайтов. Данное заявление о конфиденциальности относится только к информации,
          размещенной непосредственно на сайте.
        </p>
        <h2>Безопасность</h2>
        <p>Сайт обеспечивает безопасность учетной записи Пользователя от несанкционированного доступа.</p>
        <h2>Уведомления об изменениях</h2>
        <p>
          Сайт оставляет за собой право вносить изменения в Политику конфиденциальности без дополнительных уведомлений.
          Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике
          конфиденциальности самостоятельно.
        </p>
      </div>
    </Page>
  </div>
</BaseStat>
