---
import BaseStat from '@layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="Сообщение отправлено">
  <div class="mx-auto max-w-screen-lg px-4 py-12 text-center sm:px-6 lg:px-8 lg:py-64">
    <Page title="Сообщение отправлено!">
      <div class="container mx-auto my-12">
        <h2>Спасибо за Ваше сообщение</h2>
        <p>Наш специалист скоро его прочитает ;)</p>
      </div>
    </Page>
  </div>
</BaseStat>
