---
import BaseStat from '@layouts/BaseStat.astro';
import Page from '@layouts/Page.astro';
---

<BaseStat meta_title="Заявка отправлена">
  <div class="mx-auto max-w-screen-lg px-4 py-12 text-center sm:px-6 lg:px-8 lg:py-64">
    <Page title="Заявка отправлена">
      <div class="container mx-auto my-12">
        <p>Заявка отправлена</p>
      </div>
    </Page>
  </div>
</BaseStat>
