---
import SectionBlock from '@layouts/SectionBlock.astro';
import { Image } from 'astro:assets';
const { banners } = Astro.props;
---

<SectionBlock id="banners">
  <div class="mx-auto max-w-7xl">
    <div class="flex flex-wrap items-stretch justify-center">
      {
        banners.map((banner: any) => (
          <div class="mx-2 mb-8 w-32 self-center md:w-56">
            <Image
              src={banner.img}
              alt={banner.alt}
              width="224"
              height={banner.height}
              class="cursor-progress rounded-3xl shadow-lg transition duration-300 ease-in-out hover:scale-[2]  lg:hover:scale-150"
            />
          </div>
        ))
      }
    </div>
  </div>
</SectionBlock>
